  h1{
	font-weight: 900;
  font-size: 70px;
  }
  body{
  background-color: lightgray;
  }
  .page{
  width: 1010px;    
  background-color: white;   
  margin: auto;
  padding: 50px;
  padding-top: 35px;
  }
  .vis-container{
	width: 100%;
  }
  .description h2, h1{
	margin-top:0px;
  }
  .description-right {
	padding-left: 20px;

  }
  .description-left{
	padding-right: 20px;
  }
  .pure-g{
  background-color:#ffffff;
	margin-bottom: 50px;
  margin-top: 50px;
  }
  .small-font{
	  font-size: 14px;
  }
  p{
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
  }
  h2{
    font-family: 'Lora', sans-serif;
    font-size: 23px;
  }